.App {
  margin-inline: auto;
  padding-block: 64px;
  padding-inline: 16px;
  color: white;
  min-height: 100vh;
  background-image: conic-gradient(from -90deg at 110% 100%,#2b303b 0deg,#16181d 90deg,#16181d 1turn);
}

.Dogs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

select {
  width: 200px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.Video {
  display: flex;
  padding-block: 1rem;
  gap: 1rem;
  overflow: hidden;
}

.Thumbnail {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

h3, p, a {
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  color: white;
}

h3 {
  font-size: 14px;
}

p {
  max-width: 100%;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.mt-1 {
  margin-top: 0.5rem;
}

.Search {
  background: rgba(235 236 240);
  padding: 0.5rem;
  border-radius: 1rem;
}

input {
  width: 100%;
  border: none;
  height: 100%;
  background: transparent;
  outline: none;
}

button {
  height: 36px;
  background: red;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
